*{
    box-sizing:border-box;
}


body{

    margin:0;

    background:#f3f6fa;

    font-family:
    "Microsoft JhengHei",
    Arial,
    sans-serif;

}



/* 主框 */

.container{

    width:95%;

    max-width:1000px;

    margin:30px auto;

    background:white;

    border:1px solid #aaa;

}



/* 標題 */

.title{

    background:#075aa6;

    color:white;

    text-align:center;

    font-size:28px;

    font-weight:bold;

    padding:18px;

}



/* 輸入區 */

.input-box{

    padding:20px;

}



.row{

    display:flex;

    margin-bottom:3px;

}



.label{

    width:40%;

    background:#d9f3c7;

    padding:12px;

    font-size:18px;

    font-weight:bold;

}



.input{

    width:60%;

    background:#efffe5;

    padding:12px;

}



input{

    width:160px;

    height:32px;

    font-size:18px;

    text-align:right;

}



/* 按鈕 */

.button-area{

    background:#075aa6;

    padding:20px;

    text-align:center;

}



button{

    padding:10px 35px;

    font-size:18px;

    margin:5px;

    cursor:pointer;

    border:0;

    border-radius:5px;

}



button:first-child{

    background:#f39800;

    color:white;

}



button:last-child{

    background:white;

}





/* 結果 */

.result{

    padding:20px;

}



.result-title{

    background:#075aa6;

    color:white;

    padding:10px;

    text-align:center;

    font-size:22px;

}



/* 四格摘要 */

.summary{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:15px;

    margin-top:20px;

}



.card{

    border:1px solid #aaa;

    background:white;

    text-align:center;

    border-radius:8px;

    overflow:hidden;

}



.card-title{

    background:#075aa6;

    color:white;

    padding:10px;

    font-size:18px;

}



.card-value{

    color:red;

    font-size:25px;

    font-weight:bold;

    padding:15px 5px;

}





/* 表格 */

.table-box{

    padding:20px;

}



h2{

    color:#075aa6;

}



.note{

    text-align:center;

    color:#666;

    margin-bottom:10px;

}



table{

    width:100%;

    border-collapse:collapse;

}



th{

    background:#075aa6;

    color:white;

}



td,
th{

    border:1px solid #999;

    padding:8px;

    text-align:center;

}



.more{

    background:#eaf3ff;

    color:#075aa6;

    font-weight:bold;

}





/* 手機 */

@media(max-width:700px){


.row{

    display:block;

}


.label,
.input{

    width:100%;

}



.summary{

    grid-template-columns:1fr;

}



table{

    font-size:12px;

}



}
